{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "fluid": false,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "semi": true
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "semi" : false,
        "singleQuote" : false,
        "tabWidth": 4
      }
    }
  ]
}